*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
 .d1{
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
} 
 .navbar{
    height: 10%;
    width: 100%;
    background-color:brown;
    margin-bottom: 20px;
}
/* a:hover{
    border-radius: 50px;
    background-color: rgb(247, 6, 46);
    color: black;
} */


.main{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.info{
    /* border: 10px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    
}

.text{
    align-items: center;
    text-align: center;
    width: 700px;
}

.footer{
    height: 10%;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: brown;
    text-align: center;

} 


@media (width < 600px){

    .main{
        align-items: center;
        
        display: flex;
        flex-direction: column;
    }
    .card{
        margin-bottom: 10px;
       
    }
    .info{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .text{
        padding: 5px;
        width: 350px;
        margin-bottom: 10px;
        align-items: center;
        text-align: center
    }

}


@media (width < 1000px){
/*
    .main{
        align-items: center;
        
        display: flex;
        
    }
    .card{
        margin-bottom: 10px;
       
    } */
    .info{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .text{
        padding: 5px;
        width: 300px;
        margin-bottom: 10px;
        align-items: center;
        text-align: center
    }

}